/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: #FFF4F4;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}

li { 
    list-style: none;
}

h2 {
    font-family: 'Lobster', sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: #FA718F;
    text-align: center;
}

button {
    background-color: #16798E;
    border: none;
    color: white;
    font-family: 'Bayon', sans-serif;
    font-size: 32px;
    padding: 0 30px;
    border-radius: 50px;
    cursor: pointer;
}

/* Nav */

nav {
    font-family: 'Bayon', sans-serif;
    color:#16798E;
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

nav img {
    width: 71px;
    height: 71px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* Header */
h1 {
    font-family: 'Lobster', sans-serif;
    font-weight: 200;
    font-size: 96px;
    color: #16798E;
    text-shadow: 3px 3px 0 #FFFFFF;
}

.header {
    background-color: #FFCACA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 71px - 240px);
    width: 100vw;
}

.header-text {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    text-align: center;
    margin-left: 100px;
}

.header-subtitle {
    font-family: 'Bayon', sans-serif;
    color: #FA718F;
    font-size: 24px;
    margin-bottom: 20px;
}

.header-illustration {
    display: flex;
    position: relative; 
    max-width: 100%;
    width: 50vw;
    height: 70vh;
}

.header-picture {
    width: 700px;
    z-index: 10;
    position: absolute;
    top: 80px;
    right: 180px;
}

.header-picture img {
    max-width: 100%; 
    height: auto;
}

.header-circles {
    position: absolute;
    width: 570px;
    top: 50px;
    right: 220px;
}

.header-circles img {
    max-width: 100%;
    height: auto;
}

.cta-text {
    font-family: 'Bahiana', sans-serif;
    color:#16798E;
    font-size: 36px;
    max-width: 550px;
    margin: 30px auto;
}

.wave-pattern {
    width: 100%;
    z-index: 0;
    overflow-x: hidden;
}

/* About me section */

.about-me-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px 0 100px 0;
}

.about-me-picture img {
    width: 500px;
}

.about-me-text {
    text-align: center;
}

.about-me-text p {
    font-size: 28px;
    max-width: 700px;
    color: #16798E;
    margin: 0 0 50px 50px;
}

/* Testimonies */

.testimonies {
    padding: 0 100px;
}

.testimonies-subtitle {
    font-family: 'Bahiana', sans-serif;
    color: #16798E;
    text-align: center;
    font-size: 32px;
    margin-bottom: 80px;
}

.testimonies-list {
    display: flex;
    flex-direction: row;
}

.testimonies-notation {
    text-align: center;
    padding: 20px;
}

.fa-star {
    color: #FBC778;
}

.testimonies-content {
    background-color: #FFCACA;
    width: 374px;
    height: 286px;
    margin-bottom: 100px;
}

.testimonies-text {
    color: #16798E;
    font-size: 14px;
    padding: 10px 5px;
}

.testimonies-name {
    color:#16798E;
    font-size: 14px;
}

/* Blog */

.blog {
    padding: 0 100px;
}

.blog-list {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.blog-content {
    width: 413px;
    height: 555px;
    background-color: white;
}

/* Footer */

footer {
    background-color: #FFCACA;
    width: 100vw;
    height: 100px;
}